<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap dll="freetype210" os="linux" target="libfreetype.so.6" />
	<dllmap dll="freetype210" os="osx" target="libfreetype.6.dylib" />
	<dllmap dll="harfbuzz253.dll" os="linux" target="libharfbuzz.so" />
	<dllmap dll="harfbuzz253.dll" os="osx" target="libharfbuzz.dylib" />
</configuration>
